.row{
    padding: 0 15px;
}
.freeTicket{
    margin-top: 30px;
}
.table thead tr th,label {
    text-align: center;
}
.table thead tr th,.table tbody tr td {
	vertical-align: middle;
}
label{
	margin-top:10px;
}
