/*TODO common*/
body,
div,
ul,
li,
form,
input,
button,
p {
  margin: 0;
  padding: 0;
}
body {
  font: 14px "Î¢ÈíÑÅºÚ", "ËÎÌå";
  background: #fff;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul {
  list-style: none;
}
/*TODO style*/
/*TODO header-style*/
.header {
  width: 100%;
  height: 80px;
  background: url("../../../static/sso/images/header-bg.png") no-repeat;
}
.header .header-content {
  width: 970px;
  height: 100%;
  margin: 0 auto;
  line-height: 75px;
}
.header .header-content img {
  vertical-align: middle;
}
/*TODO section-style*/
.section {
  width: 100%;
  height: 480px;
  min-width: 970px;
  background: url("../../../static/sso/images/bg.png") center center no-repeat;
}
.section .section-content {
  width: 970px;
  height: 100%;
  margin: 0 auto;
  /*TODO ×óÄÚÈÝ*/
  /*TODO ÓÒÄÚÈÝ*/
}
.section .section-content .content-left {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
  /*TODO Í¼Æ¬ËØ²Ä*/
}
.section .section-content .content-left img {
  position: absolute;
  top: 20px;
  left: 30px;
}
.section .section-content .content-right {
  width: 49%;
  height: 100%;
  float: left;
  position: relative;
  /*TODO µÇÂ¼¿ò*/
}
.section .section-content .content-right .login {
  width: 355px;
  height: 343px;
  border-radius: 10px;
  background: url("../../../static/sso/images/loginbg.png") 0 0 repeat-x;
  position: absolute;
  top: 80px;
  left: 100px;
  overflow: hidden;
  /*TODO µÇÂ¼¿ò¶¥²¿ÕËºÅµÇÂ¼ºÍ¶þÎ¬ÂëµÇÂ¼ÇÐ»»*/
  /*TODO ÕËºÅµÇÂ¼¿òÄÚÈÝ*/
  /*TODO É¨ÂëµÇÂ¼*/
}
.section .section-content .content-right .login .login-title {
  width: 100%;
  height: 40px;
  margin-right: 2px;
  text-align: center;
  line-height: 40px;
}
.section .section-content .content-right .login .login-title li {
  float: left;
  width: 50%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.section .section-content .content-right .login .login-title .li-active {
  background: #fff;
  color: #5c7594;
}
.section .section-content .content-right .login .userid-login {
  width: 100%;
  height: 343px;
  padding-top: 40px;
  text-align: center;
}
.section .section-content .content-right .login .userid-login input {
  width: 75%;
  height: 35px;
  font-size: 20px;
  color: #fff;
  color: #777\9;
  line-height: 35px\0;
  margin-bottom: 25px;
  border: 2px solid #ddd;
  background-color: rgba(225, 225, 225, 0.2);
  border-radius: 6px;
  text-indent: 40px;
  letter-spacing: 2px;
}
.section .section-content .content-right .login .userid-login .userId {
  background-image: url("../../../static/sso/images/usericon.png");
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: center;
}
.section .section-content .content-right .login .userid-login .password {
  background-image: url("../../../static/sso/images/passwordicon.png");
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: center;
}
.section .section-content .content-right .login .userid-login .vfcContainer {
  width: 75%;
  height: 35px;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 30px;
}
.section .section-content .content-right .login .userid-login .vfc {
  width: 140px;
  height: 38px;
  text-indent: 32px;
  letter-spacing: 5px;
  font-size: 20px;
  margin-bottom: 0;
  float: left;
}
.section .section-content .content-right .login .userid-login .vfcImg {
  float: right;
}
.section .section-content .content-right .login .userid-login .login-btn {
  width: 75%;
  height: 40px;
  border: 1px solid #5c7594;
  background-color: #5897FB;
  border-radius: 5px;
  color: #fff;
  font-size: 22px;
  letter-spacing: 35px;
  padding-bottom: 3px;
  outline: none;
}
.section .section-content .content-right .login .userid-login .login-btn:hover {
  cursor: pointer;
  background-color: #3197FB;
}
.section .section-content .content-right .login .userid-login .login-btn:active {
  background-color: #1181FB;
}
.section .section-content .content-right .login .vfc-login {
  width: 204px;
  height: 258px;
}
